/node_modules
/public/hot
/public/storage
/public/uploads
/vendor
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.vscode
.DS_Store
storage/.DS_Store
*.key
storage/.DS_Store
/frontend/node_modules/
storage/oauth-private.key
storage/oauth-private.key
/public/assets/
